{% block sidebar %}

<style>
        
        .card-body {
            
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header text-center"> About Author</h5>
    <div class="card-body">
        <p class="card-text"> Simon Willison is a British programmer, co-founder of the social conference directory Lanyrd, and Director of Architecture at Eventbrite. Originating from the UK, he currently resides in San Francisco, California. Simon is a co-creator of the Django Web framework and is a frequent public speaker. Currently he is working on the Datasette project and other related projects.
            
          </p>
       
    </div>
</div>
</div>

{% endblock sidebar %}